<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title }}</title>
    <link rel="stylesheet" href="/static/css/style.css">
</head>
<body class="login-body">
    <form class="login-box" method="post" action="/login">
        <h1>Сервер трансляций:<br>21miron</h1>
        <input name="login" placeholder="Логин" required>
        <input name="password" type="password" placeholder="Пароль" required>
        <button>Войти</button>
        <p>Тест: admin / admin123</p>
    </form>
</body>
</html>
